In [3]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [4]:
os.chdir("D:\HYEM'S\GraduatedSchool\PROJECTS\MyProjects\ProcessMining_PISA2012\datasets")
print(os.getcwd())

D:\HYEM'S\GraduatedSchool\PROJECTS\MyProjects\ProcessMining_PISA2012\datasets

In [7]:
df_original = pd.read_csv("./0_start_with__original_scored_eventlog.csv")
df_time = pd.read_csv("./1_GenerateVariables_time_1_abs.csv")

In [8]:
stu_id = df_original['ID'].unique().tolist()

In [19]:
events_num = []

for i in tqdm(stu_id):
    df_t = df_original[df_original['ID'] == i] 
    
    if max(df_t['event_number']) >= 3:
        length = max(df_t['event_number']) - 3
    else:
        length = 
    
    events_num.append(length)

100%|████████████████████████████████████████████████████████████████████████████| 30453/30453 [09:27<00:00, 53.68it/s]

In [20]:
events_num

[3,
 3,
 8,
 3,
 4,
 4,
 0,
 0,
 0,
 3,
 3,
 6,
 2,
 3,
 5,
 9,
 8,
 4,
 4,
 0,
 15,
 3,
 0,
 0,
 3,
 0,
 3,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 0,
 4,
 7,
 3,
 17,
 0,
 0,
 0,
 0,
 5,
 3,
 4,
 31,
 6,
 0,
 8,
 3,
 4,
 0,
 7,
 10,
 3,
 4,
 3,
 3,
 4,
 3,
 8,
 10,
 3,
 3,
 5,
 4,
 3,
 4,
 3,
 8,
 0,
 0,
 16,
 12,
 4,
 3,
 3,
 3,
 4,
 10,
 3,
 5,
 3,
 3,
 0,
 6,
 0,
 8,
 44,
 4,
 5,
 7,
 4,
 3,
 12,
 4,
 3,
 3,
 9,
 12,
 3,
 6,
 4,
 0,
 3,
 7,
 0,
 0,
 4,
 0,
 5,
 4,
 2,
 3,
 5,
 8,
 7,
 0,
 0,
 0,
 12,
 3,
 3,
 0,
 4,
 0,
 5,
 9,
 3,
 2,
 3,
 3,
 0,
 3,
 0,
 4,
 4,
 4,
 4,
 22,
 3,
 6,
 5,
 3,
 0,
 25,
 4,
 9,
 3,
 0,
 9,
 5,
 5,
 2,
 19,
 8,
 7,
 13,
 3,
 8,
 4,
 3,
 3,
 23,
 15,
 4,
 6,
 4,
 17,
 9,
 3,
 15,
 12,
 4,
 3,
 3,
 18,
 19,
 22,
 4,
 4,
 5,
 14,
 4,
 4,
 3,
 5,
 24,
 3,
 3,
 3,
 0,
 9,
 9,
 4,
 12,
 0,
 4,
 3,
 0,
 4,
 0,
 0,
 6,
 0,
 4,
 11,
 3,
 4,
 3,
 7,
 28,
 20,
 5,
 4,
 3,
 3,
 8,
 16,
 25,
 3,
 0,
 6,
 5,
 4,
 11,
 5,
 4,
 8,
 4,
 8,
 4,
 0,
 8,
 13,
 9,
 9,
 27,
 14,
 3,
 7,
 4,
 3,
 3,
 11,
 3,
 3,
 3,
 3,
 3,
 8,
 4,
 3,
 4,
 4,
 0,
 7,
 5,
 3,
 3,
 3,
 3,
 3,
 5,
 3,
 3,
 5,
 0,
 3,
 4,
 7,
 4,
 5,
 8,
 0,
 5,
 3,
 4,
 3,
 4,
 3,
 0,
 4,
 3,
 32,
 1,
 3,
 3,
 3,
 3,
 8,
 0,
 3,
 0,
 3,
 3,
 3,
 7,
 4,
 4,
 3,
 0,
 5,
 3,
 0,
 3,
 10,
 16,
 0,
 0,
 3,
 4,
 8,
 0,
 3,
 0,
 4,
 4,
 9,
 3,
 3,
 4,
 13,
 10,
 7,
 3,
 5,
 0,
 3,
 9,
 9,
 1,
 3,
 0,
 0,
 5,
 4,
 4,
 2,
 14,
 3,
 10,
 0,
 3,
 4,
 4,
 3,
 4,
 0,
 5,
 1,
 4,
 4,
 3,
 4,
 6,
 4,
 5,
 8,
 3,
 9,
 7,
 4,
 3,
 4,
 0,
 3,
 5,
 3,
 14,
 6,
 4,
 3,
 8,
 0,
 5,
 3,
 4,
 3,
 10,
 3,
 11,
 3,
 6,
 9,
 3,
 17,
 15,
 5,
 8,
 16,
 0,
 2,
 0,
 5,
 0,
 4,
 8,
 0,
 14,
 0,
 3,
 3,
 3,
 4,
 3,
 8,
 34,
 3,
 8,
 21,
 6,
 4,
 3,
 6,
 0,
 0,
 8,
 3,
 4,
 3,
 3,
 3,
 10,
 0,
 8,
 6,
 11,
 6,
 4,
 15,
 3,
 3,
 23,
 0,
 3,
 13,
 6,
 4,
 0,
 7,
 4,
 4,
 3,
 3,
 5,
 29,
 4,
 4,
 3,
 3,
 7,
 3,
 0,
 3,
 0,
 3,
 4,
 12,
 7,
 3,
 3,
 4,
 3,
 3,
 12,
 3,
 5,
 5,
 4,
 4,
 24,
 80,
 3,
 0,
 14,
 0,
 3,
 24,
 3,
 3,
 5,
 13,
 45,
 11,
 8,
 23,
 3,
 4,
 5,
 13,
 6,
 10,
 8,
 14,
 3,
 14,
 4,
 4,
 7,
 9,
 4,
 4,
 21,
 4,
 4,
 3,
 5,
 0,
 2,
 8,
 3,
 3,
 17,
 10,
 16,
 4,
 4,
 36,
 6,
 7,
 9,
 16,
 8,
 4,
 8,
 5,
 9,
 3,
 10,
 4,
 4,
 3,
 9,
 4,
 3,
 4,
 4,
 43,
 3,
 3,
 9,
 6,
 0,
 6,
 17,
 3,
 0,
 12,
 34,
 3,
 7,
 3,
 4,
 4,
 7,
 3,
 3,
 3,
 13,
 6,
 13,
 13,
 3,
 4,
 3,
 3,
 4,
 26,
 24,
 16,
 22,
 4,
 15,
 12,
 3,
 2,
 8,
 13,
 15,
 13,
 4,
 7,
 8,
 4,
 9,
 4,
 6,
 26,
 9,
 4,
 13,
 8,
 10,
 0,
 20,
 3,
 0,
 4,
 8,
 8,
 8,
 3,
 4,
 4,
 3,
 13,
 3,
 3,
 3,
 9,
 11,
 4,
 12,
 32,
 3,
 12,
 27,
 7,
 13,
 4,
 46,
 5,
 4,
 52,
 3,
 22,
 4,
 22,
 3,
 7,
 5,
 3,
 6,
 22,
 13,
 9,
 3,
 3,
 5,
 13,
 0,
 15,
 3,
 12,
 8,
 3,
 8,
 6,
 28,
 0,
 4,
 8,
 12,
 6,
 3,
 18,
 3,
 3,
 14,
 4,
 0,
 7,
 17,
 4,
 3,
 4,
 3,
 0,
 3,
 6,
 3,
 12,
 7,
 8,
 8,
 4,
 4,
 18,
 3,
 9,
 13,
 4,
 4,
 8,
 13,
 8,
 7,
 4,
 9,
 16,
 4,
 19,
 15,
 4,
 15,
 6,
 3,
 3,
 3,
 8,
 4,
 6,
 9,
 4,
 3,
 4,
 4,
 3,
 8,
 19,
 16,
 0,
 0,
 23,
 4,
 3,
 0,
 26,
 13,
 19,
 3,
 11,
 4,
 8,
 13,
 14,
 8,
 25,
 4,
 4,
 4,
 4,
 26,
 32,
 19,
 3,
 14,
 10,
 3,
 17,
 28,
 3,
 19,
 13,
 3,
 3,
 0,
 8,
 7,
 33,
 3,
 0,
 0,
 3,
 5,
 5,
 5,
 0,
 6,
 5,
 3,
 8,
 4,
 3,
 7,
 4,
 3,
 4,
 5,
 3,
 4,
 0,
 11,
 6,
 3,
 0,
 14,
 4,
 3,
 0,
 3,
 7,
 11,
 3,
 24,
 8,
 3,
 0,
 3,
 4,
 0,
 6,
 7,
 4,
 0,
 3,
 3,
 3,
 3,
 2,
 12,
 21,
 13,
 29,
 12,
 4,
 5,
 13,
 4,
 4,
 3,
 4,
 4,
 8,
 9,
 3,
 10,
 17,
 10,
 9,
 4,
 7,
 4,
 34,
 10,
 3,
 3,
 0,
 0,
 6,
 0,
 2,
 0,
 4,
 8,
 3,
 3,
 5,
 3,
 6,
 3,
 8,
 5,
 3,
 3,
 0,
 14,
 12,
 1,
 6,
 6,
 3,
 0,
 2,
 21,
 4,
 3,
 5,
 22,
 8,
 5,
 5,
 58,
 4,
 3,
 0,
 1,
 0,
 5,
 3,
 3,
 6,
 5,
 3,
 1,
 0,
 4,
 3,
 5,
 9,
 8,
 3,
 4,
 3,
 3,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 0,
 6,
 3,
 8,
 3,
 3,
 3,
 7,
 6,
 3,
 6,
 7,
 6,
 3,
 4,
 20,
 3,
 3,
 1,
 11,
 3,
 0,
 7,
 0,
 7,
 3,
 6,
 3,
 0,
 0,
 8,
 0,
 4,
 3,
 1,
 3,
 3,
 3,
 2,
 2,
 11,
 1,
 4,
 54,
 3,
 5,
 3,
 6,
 0,
 4,
 3,
 3,
 0,
 3,
 4,
 8,
 3,
 3,
 7,
 3,
 0,
 3,
 7,
 5,
 3,
 3,
 3,
 12,
 8,
 3,
 8,
 17,
 3,
 14,
 3,
 0,
 9,
 7,
 3,
 10,
 3,
 3,
 0,
 3,
 3,
 4,
 4,
 3,
 7,
 4,
 3,
 12,
 7,
 7,
 0,
 3,
 21,
 3,
 0,
 9,
 3,
 ...]

In [23]:
df_time['events_num'] = events_num

In [24]:
df_time['avg_time_btw_events'] = df_time['time_solving'] / df_time['events_num']
df_time

,ID,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_total,credit,time_answer,time_not_answer,time_solving,events_num,avg_time_btw_events
0,ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,40.8,0,0.0,28.1,28.1,3,9.366667
1,ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,58.4,0,0.0,22.3,22.3,3,7.433333
2,ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,59.3,0,0.0,19.6,19.6,8,2.450000
3,ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,64.8,0,0.0,25.4,25.4,3,8.466667
4,ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,181.6,0,0.0,21.4,21.4,4,5.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30448,USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,64.0,1,37.3,4.4,41.7,10,4.170000
30449,USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,81.3,1,48.8,1.4,50.2,8,6.275000
30450,USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,74.4,1,49.1,0.9,50.0,11,4.545455
30451,USA000007902381,USA,9.1,5.9,0.0,5.9,11.3,4.4,95.4,1,15.0,64.7,79.7,35,2.277143
30452,USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,62.6,0,7.9,27.7,35.6,17,2.094118

In [36]:
df_time = df_time .loc [df_time ['avg_time_btw_events'].notna()]

In [38]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30313 entries, 0 to 30452
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   30313 non-null  object
 1   cnt                  30313 non-null  object
 2   time_A_total         30313 non-null  float64
 3   time_b1              30313 non-null  float64
 4   time_b2              30313 non-null  float64
 5   time_B_total         30313 non-null  float64
 6   time_start           30313 non-null  float64
 7   time_end             30313 non-null  float64
 8   time_total           30313 non-null  float64
 9   credit               30313 non-null  int64
 10  time_answer          30313 non-null  float64
 11  time_not_answer      30313 non-null  float64
 12  time_solving         30313 non-null  float64
 13  events_num           30313 non-null  int64
 14  avg_time_btw_events  30313 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 3.7+ MB

In [39]:
df_time.to_csv('1_GenerateVariables_time_2_mean.csv', index = False)