In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [152]:
df = pd.read_csv('original scoring data.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['time'] = df['time'].astype(float)
df

,Unnamed: 0,ID,cnt,schoolid,StIDStd,event,time,event_number,event_value,network,fare_type,ticket_type,number_trips,OECD,credit,timestamp,instance,instance_id
0,1,ARE000018904852,ARE,189,4852,START_ITEM,1186.7,1,Start,NaN,NaN,NaN,NaN,0,0,2021-12-22 14:19:00,1,ARE000018904852-01
1,2,ARE000018904852,ARE,189,4852,ACER_EVENT,1195.6,2,country_trains,country_trains,NaN,NaN,0.0,0,0,2021-12-22 14:19:00,3,ARE000018904852-03
2,3,ARE000018904852,ARE,189,4852,ACER_EVENT,1202.8,3,full_fare,country_trains,full_fare,NaN,0.0,0,0,2021-12-22 14:20:00,4,ARE000018904852-04
3,4,ARE000018904852,ARE,189,4852,ACER_EVENT,1217.2,4,daily,country_trains,full_fare,daily,0.0,0,0,2021-12-22 14:20:00,7,ARE000018904852-07
4,5,ARE000018904852,ARE,189,4852,ACER_EVENT,1223.7,5,Buy,country_trains,full_fare,daily,0.0,0,0,2021-12-22 14:20:00,10,ARE000018904852-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322869,322870,USA000007902365,USA,79,2365,ACER_EVENT,111.5,16,city_subway,city_subway,NaN,NaN,0.0,1,0,2021-12-22 14:01:00,2,USA000007902365-02
322870,322871,USA000007902365,USA,79,2365,ACER_EVENT,112.0,17,concession,city_subway,concession,NaN,0.0,1,0,2021-12-22 14:01:00,5,USA000007902365-05
322871,322872,USA000007902365,USA,79,2365,ACER_EVENT,113.1,18,daily,city_subway,concession,daily,0.0,1,0,2021-12-22 14:01:00,7,USA000007902365-07
322872,322873,USA000007902365,USA,79,2365,ACER_EVENT,128.6,19,Buy,city_subway,concession,daily,0.0,1,0,2021-12-22 14:02:00,10,USA000007902365-10
322873,322874,USA000007902365,USA,79,2365,END_ITEM,130.3,20,End,NaN,NaN,NaN,NaN,1,0,2021-12-22 14:02:00,12,USA000007902365-12

In [153]:
df_action = df[['ID','event_value', 'event_number','instance','credit']]

In [154]:
df_action['sequence']= ''
df_action["sequence"] = np.nan

<ipython-input-154-bb93eac3a149>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence']= ''
<ipython-input-154-bb93eac3a149>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action["sequence"] = np.nan

In [155]:
df_action

,ID,event_value,event_number,instance,credit,sequence
0,ARE000018904852,Start,1,1,0,NaN
1,ARE000018904852,country_trains,2,3,0,NaN
2,ARE000018904852,full_fare,3,4,0,NaN
3,ARE000018904852,daily,4,7,0,NaN
4,ARE000018904852,Buy,5,10,0,NaN
...,...,...,...,...,...,...
322869,USA000007902365,city_subway,16,2,0,NaN
322870,USA000007902365,concession,17,5,0,NaN
322871,USA000007902365,daily,18,7,0,NaN
322872,USA000007902365,Buy,19,10,0,NaN
322873,USA000007902365,End,20,12,0,NaN

In [157]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==7) and (df_action['instance'][i+3]==11):
        df_action['sequence'][i:i+4]= 'a1'

<ipython-input-157-82f08d41c947>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence'][i:i+4]= 'a1'
C:\Users\fromd\anaconda3\lib\site-packages\pandas\core\series.py:998: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_with(key, value)
C:\Users\fromd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [158]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==11):
        df_action['sequence'][i:i+6] = 'b1'

<ipython-input-158-d3809225bfa9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence'][i:i+6] = 'b1'

In [159]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==8) and (df_action['instance'][i+4]==9) and (df_action['instance'][i+5]==10):
        df_action['sequence'][i:i+6] = 'b2'

<ipython-input-159-914a4d7bb5fb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence'][i:i+6] = 'b2'

In [160]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==11):
        df_action['sequence'][i:i+5] = 'b3'

<ipython-input-160-e0c0e8384c95>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence'][i:i+5] = 'b3'

In [161]:
for i in range(len(df_action)):
    if(df_action['instance'][i]==2) and (df_action['instance'][i+1]==5) and (df_action['instance'][i+2]==6) and (df_action['instance'][i+3]==9) and (df_action['instance'][i+4]==10):
        df_action['sequence'][i:i+5] = 'b4'

<ipython-input-161-9b42ba0ff421>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['sequence'][i:i+5] = 'b4'

In [162]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence
322824,USA000007902381,trip_n,9,8,1,NaN
322825,USA000007902381,trip_n,10,8,1,NaN
322826,USA000007902381,trip_n,11,8,1,NaN
322827,USA000007902381,trip_n,12,8,1,NaN
322828,USA000007902381,trip_4,13,9,1,NaN
322829,USA000007902381,trip_n,14,8,1,NaN
322830,USA000007902381,trip_4,15,9,1,NaN
322831,USA000007902381,trip_n,16,8,1,NaN
322832,USA000007902381,trip_n,17,8,1,NaN
322833,USA000007902381,trip_n,18,8,1,NaN
322834,USA000007902381,trip_n,19,8,1,NaN
322835,USA000007902381,trip_4,20,9,1,NaN
322836,USA000007902381,trip_n,21,8,1,NaN
322837,USA000007902381,trip_4,22,9,1,NaN
322838,USA000007902381,Cancel,23,11,1,NaN
322839,USA000007902381,country_trains,24,3,1,NaN
322840,USA000007902381,concession,25,5,1,NaN
322841,USA000007902381,individual,26,6,1,NaN
322842,USA000007902381,trip_4,27,9,1,NaN
322843,USA000007902381,Cancel,28,11,1,NaN
322844,USA000007902381,city_subway,29,2,1,a1
322845,USA000007902381,concession,30,5,1,a1
322846,USA000007902381,daily,31,7,1,a1
322847,USA000007902381,Cancel,32,11,1,a1
322848,USA000007902381,city_subway,33,2,1,b4
322849,USA000007902381,concession,34,5,1,b4
322850,USA000007902381,individual,35,6,1,b4
322851,USA000007902381,trip_4,36,9,1,b4
322852,USA000007902381,Buy,37,10,1,b4
322853,USA000007902381,End,38,12,1,NaN
322854,USA000007902365,Start,1,1,0,NaN
322855,USA000007902365,city_subway,2,2,0,a1
322856,USA000007902365,concession,3,5,0,a1
322857,USA000007902365,daily,4,7,0,a1
322858,USA000007902365,Cancel,5,11,0,a1
322859,USA000007902365,country_trains,6,3,0,NaN
322860,USA000007902365,full_fare,7,4,0,NaN
322861,USA000007902365,Cancel,8,11,0,NaN
322862,USA000007902365,country_trains,9,3,0,NaN
322863,USA000007902365,concession,10,5,0,NaN
322864,USA000007902365,daily,11,7,0,NaN
322865,USA000007902365,Cancel,12,11,0,NaN
322866,USA000007902365,city_subway,13,2,0,NaN
322867,USA000007902365,full_fare,14,4,0,NaN
322868,USA000007902365,Cancel,15,11,0,NaN
322869,USA000007902365,city_subway,16,2,0,NaN
322870,USA000007902365,concession,17,5,0,NaN
322871,USA000007902365,daily,18,7,0,NaN
322872,USA000007902365,Buy,19,10,0,NaN
322873,USA000007902365,End,20,12,0,NaN

In [166]:
df_action_nonna2 = df_action.fillna('c')

In [169]:
df_action = df_action_nonna2

In [171]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence
322824,USA000007902381,trip_n,9,8,1,c
322825,USA000007902381,trip_n,10,8,1,c
322826,USA000007902381,trip_n,11,8,1,c
322827,USA000007902381,trip_n,12,8,1,c
322828,USA000007902381,trip_4,13,9,1,c
322829,USA000007902381,trip_n,14,8,1,c
322830,USA000007902381,trip_4,15,9,1,c
322831,USA000007902381,trip_n,16,8,1,c
322832,USA000007902381,trip_n,17,8,1,c
322833,USA000007902381,trip_n,18,8,1,c
322834,USA000007902381,trip_n,19,8,1,c
322835,USA000007902381,trip_4,20,9,1,c
322836,USA000007902381,trip_n,21,8,1,c
322837,USA000007902381,trip_4,22,9,1,c
322838,USA000007902381,Cancel,23,11,1,c
322839,USA000007902381,country_trains,24,3,1,c
322840,USA000007902381,concession,25,5,1,c
322841,USA000007902381,individual,26,6,1,c
322842,USA000007902381,trip_4,27,9,1,c
322843,USA000007902381,Cancel,28,11,1,c
322844,USA000007902381,city_subway,29,2,1,a1
322845,USA000007902381,concession,30,5,1,a1
322846,USA000007902381,daily,31,7,1,a1
322847,USA000007902381,Cancel,32,11,1,a1
322848,USA000007902381,city_subway,33,2,1,b4
322849,USA000007902381,concession,34,5,1,b4
322850,USA000007902381,individual,35,6,1,b4
322851,USA000007902381,trip_4,36,9,1,b4
322852,USA000007902381,Buy,37,10,1,b4
322853,USA000007902381,End,38,12,1,c
322854,USA000007902365,Start,1,1,0,c
322855,USA000007902365,city_subway,2,2,0,a1
322856,USA000007902365,concession,3,5,0,a1
322857,USA000007902365,daily,4,7,0,a1
322858,USA000007902365,Cancel,5,11,0,a1
322859,USA000007902365,country_trains,6,3,0,c
322860,USA000007902365,full_fare,7,4,0,c
322861,USA000007902365,Cancel,8,11,0,c
322862,USA000007902365,country_trains,9,3,0,c
322863,USA000007902365,concession,10,5,0,c
322864,USA000007902365,daily,11,7,0,c
322865,USA000007902365,Cancel,12,11,0,c
322866,USA000007902365,city_subway,13,2,0,c
322867,USA000007902365,full_fare,14,4,0,c
322868,USA000007902365,Cancel,15,11,0,c
322869,USA000007902365,city_subway,16,2,0,c
322870,USA000007902365,concession,17,5,0,c
322871,USA000007902365,daily,18,7,0,c
322872,USA000007902365,Buy,19,10,0,c
322873,USA000007902365,End,20,12,0,c

In [172]:
df_action['final_sequence'] = ''
df_action["final_sequence"] = np.nan
for i in range(len(df_action)):
    if (df_action['sequence'][i]=='a1') and (df_action['sequence'][i+1]=='a1') and (df_action['sequence'][i+2]=='a1') and (df_action['sequence'][i+3]=='a1'):
        df_action['final_sequence'][i+3]='a1'

<ipython-input-172-6da67d1dbdc2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i+3]='a1'
C:\Users\fromd\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [173]:
for i in range(len(df_action)):
    if (df_action['sequence'][i]=='b1') and (df_action['sequence'][i+1]=='b1') and (df_action['sequence'][i+2]=='b1') and (df_action['sequence'][i+3]=='b1') and (df_action['sequence'][i+4]=='b1') and (df_action['sequence'][i+5]=='b1'):
        df_action['final_sequence'][i+5]='b1'

<ipython-input-173-c877b318fa2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i+5]='b1'

In [174]:
for i in range(len(df_action)):
    if (df_action['sequence'][i]=='b2') and (df_action['sequence'][i+1]=='b2') and (df_action['sequence'][i+2]=='b2') and (df_action['sequence'][i+3]=='b2') and (df_action['sequence'][i+4]=='b2') and (df_action['sequence'][i+5]=='b2'):
        df_action['final_sequence'][i+5]='b2'

<ipython-input-174-7f8bf1ed2876>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i+5]='b2'

In [175]:
for i in range(len(df_action)):
    if (df_action['sequence'][i]=='b3') and (df_action['sequence'][i+1]=='b3') and (df_action['sequence'][i+2]=='b3') and (df_action['sequence'][i+3]=='b3') and (df_action['sequence'][i+4]=='b3'):
        df_action['final_sequence'][i+4]='b3'

<ipython-input-175-a6ea8277a57c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i+4]='b3'

In [176]:
for i in range(len(df_action)):
    if (df_action['sequence'][i]=='b4') and (df_action['sequence'][i+1]=='b4') and (df_action['sequence'][i+2]=='b4') and (df_action['sequence'][i+3]=='b4') and (df_action['sequence'][i+4]=='b4'):
        df_action['final_sequence'][i+4]='b4'

<ipython-input-176-d8a64229f211>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i+4]='b4'

In [177]:
for i in range(len(df_action)):
    if (df_action['sequence'][i]== 'c'):
        df_action['final_sequence'][i]='c'

<ipython-input-177-467f608aca3f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_action['final_sequence'][i]='c'

In [178]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence,final_sequence
322824,USA000007902381,trip_n,9,8,1,c,c
322825,USA000007902381,trip_n,10,8,1,c,c
322826,USA000007902381,trip_n,11,8,1,c,c
322827,USA000007902381,trip_n,12,8,1,c,c
322828,USA000007902381,trip_4,13,9,1,c,c
322829,USA000007902381,trip_n,14,8,1,c,c
322830,USA000007902381,trip_4,15,9,1,c,c
322831,USA000007902381,trip_n,16,8,1,c,c
322832,USA000007902381,trip_n,17,8,1,c,c
322833,USA000007902381,trip_n,18,8,1,c,c
322834,USA000007902381,trip_n,19,8,1,c,c
322835,USA000007902381,trip_4,20,9,1,c,c
322836,USA000007902381,trip_n,21,8,1,c,c
322837,USA000007902381,trip_4,22,9,1,c,c
322838,USA000007902381,Cancel,23,11,1,c,c
322839,USA000007902381,country_trains,24,3,1,c,c
322840,USA000007902381,concession,25,5,1,c,c
322841,USA000007902381,individual,26,6,1,c,c
322842,USA000007902381,trip_4,27,9,1,c,c
322843,USA000007902381,Cancel,28,11,1,c,c
322844,USA000007902381,city_subway,29,2,1,a1,NaN
322845,USA000007902381,concession,30,5,1,a1,NaN
322846,USA000007902381,daily,31,7,1,a1,NaN
322847,USA000007902381,Cancel,32,11,1,a1,a1
322848,USA000007902381,city_subway,33,2,1,b4,NaN
322849,USA000007902381,concession,34,5,1,b4,NaN
322850,USA000007902381,individual,35,6,1,b4,NaN
322851,USA000007902381,trip_4,36,9,1,b4,NaN
322852,USA000007902381,Buy,37,10,1,b4,b4
322853,USA000007902381,End,38,12,1,c,c
322854,USA000007902365,Start,1,1,0,c,c
322855,USA000007902365,city_subway,2,2,0,a1,NaN
322856,USA000007902365,concession,3,5,0,a1,NaN
322857,USA000007902365,daily,4,7,0,a1,NaN
322858,USA000007902365,Cancel,5,11,0,a1,a1
322859,USA000007902365,country_trains,6,3,0,c,c
322860,USA000007902365,full_fare,7,4,0,c,c
322861,USA000007902365,Cancel,8,11,0,c,c
322862,USA000007902365,country_trains,9,3,0,c,c
322863,USA000007902365,concession,10,5,0,c,c
322864,USA000007902365,daily,11,7,0,c,c
322865,USA000007902365,Cancel,12,11,0,c,c
322866,USA000007902365,city_subway,13,2,0,c,c
322867,USA000007902365,full_fare,14,4,0,c,c
322868,USA000007902365,Cancel,15,11,0,c,c
322869,USA000007902365,city_subway,16,2,0,c,c
322870,USA000007902365,concession,17,5,0,c,c
322871,USA000007902365,daily,18,7,0,c,c
322872,USA000007902365,Buy,19,10,0,c,c
322873,USA000007902365,End,20,12,0,c,c

In [127]:
idx = df_action[df_action['event_value']=='Start'].index
df_action = df_action.drop(idx)

In [128]:
idx = df_action[df_action['event_value']=='End'].index
df_action = df_action.drop(idx)

In [129]:
df_action.tail(50)

,ID,event_value,event_number,instance,credit,sequence,final_sequence
322821,USA000007902381,trip_n,6,8,1,,
322822,USA000007902381,trip_n,7,8,1,,
322823,USA000007902381,trip_n,8,8,1,,
322824,USA000007902381,trip_n,9,8,1,,
322825,USA000007902381,trip_n,10,8,1,,
322826,USA000007902381,trip_n,11,8,1,,
322827,USA000007902381,trip_n,12,8,1,,
322828,USA000007902381,trip_4,13,9,1,,
322829,USA000007902381,trip_n,14,8,1,,
322830,USA000007902381,trip_4,15,9,1,,
322831,USA000007902381,trip_n,16,8,1,,
322832,USA000007902381,trip_n,17,8,1,,
322833,USA000007902381,trip_n,18,8,1,,
322834,USA000007902381,trip_n,19,8,1,,
322835,USA000007902381,trip_4,20,9,1,,
322836,USA000007902381,trip_n,21,8,1,,
322837,USA000007902381,trip_4,22,9,1,,
322838,USA000007902381,Cancel,23,11,1,,
322839,USA000007902381,country_trains,24,3,1,,
322840,USA000007902381,concession,25,5,1,,
322841,USA000007902381,individual,26,6,1,,
322842,USA000007902381,trip_4,27,9,1,,
322843,USA000007902381,Cancel,28,11,1,,
322844,USA000007902381,city_subway,29,2,1,a1,
322845,USA000007902381,concession,30,5,1,a1,
322846,USA000007902381,daily,31,7,1,a1,
322847,USA000007902381,Cancel,32,11,1,a1,a1
322848,USA000007902381,city_subway,33,2,1,b4,
322849,USA000007902381,concession,34,5,1,b4,
322850,USA000007902381,individual,35,6,1,b4,
322851,USA000007902381,trip_4,36,9,1,b4,
322852,USA000007902381,Buy,37,10,1,b4,b4
322855,USA000007902365,city_subway,2,2,0,a1,
322856,USA000007902365,concession,3,5,0,a1,
322857,USA000007902365,daily,4,7,0,a1,
322858,USA000007902365,Cancel,5,11,0,a1,a1
322859,USA000007902365,country_trains,6,3,0,,
322860,USA000007902365,full_fare,7,4,0,,
322861,USA000007902365,Cancel,8,11,0,,
322862,USA000007902365,country_trains,9,3,0,,
322863,USA000007902365,concession,10,5,0,,
322864,USA000007902365,daily,11,7,0,,
322865,USA000007902365,Cancel,12,11,0,,
322866,USA000007902365,city_subway,13,2,0,,
322867,USA000007902365,full_fare,14,4,0,,
322868,USA000007902365,Cancel,15,11,0,,
322869,USA000007902365,city_subway,16,2,0,,
322870,USA000007902365,concession,17,5,0,,
322871,USA000007902365,daily,18,7,0,,
322872,USA000007902365,Buy,19,10,0,,

In [179]:
df_action_final = df_action.dropna()

In [182]:
idx = df_action_final[df_action_final['event_value']=='Start'].index
df_action_final = df_action_final.drop(idx)

In [183]:
idx = df_action_final[df_action_final['event_value']=='End'].index
df_action_final = df_action_final.drop(idx)

In [184]:
df_action_final.tail(50)

,ID,event_value,event_number,instance,credit,sequence,final_sequence
322809,USA000007902371,individual,8,6,1,c,c
322810,USA000007902371,trip_n,9,8,1,c,c
322811,USA000007902371,trip_4,10,9,1,c,c
322812,USA000007902371,trip_n,11,8,1,c,c
322813,USA000007902371,trip_4,12,9,1,c,c
322814,USA000007902371,Buy,13,10,1,c,c
322817,USA000007902381,city_subway,2,2,1,c,c
322818,USA000007902381,concession,3,5,1,c,c
322819,USA000007902381,individual,4,6,1,c,c
322820,USA000007902381,trip_n,5,8,1,c,c
322821,USA000007902381,trip_n,6,8,1,c,c
322822,USA000007902381,trip_n,7,8,1,c,c
322823,USA000007902381,trip_n,8,8,1,c,c
322824,USA000007902381,trip_n,9,8,1,c,c
322825,USA000007902381,trip_n,10,8,1,c,c
322826,USA000007902381,trip_n,11,8,1,c,c
322827,USA000007902381,trip_n,12,8,1,c,c
322828,USA000007902381,trip_4,13,9,1,c,c
322829,USA000007902381,trip_n,14,8,1,c,c
322830,USA000007902381,trip_4,15,9,1,c,c
322831,USA000007902381,trip_n,16,8,1,c,c
322832,USA000007902381,trip_n,17,8,1,c,c
322833,USA000007902381,trip_n,18,8,1,c,c
322834,USA000007902381,trip_n,19,8,1,c,c
322835,USA000007902381,trip_4,20,9,1,c,c
322836,USA000007902381,trip_n,21,8,1,c,c
322837,USA000007902381,trip_4,22,9,1,c,c
322838,USA000007902381,Cancel,23,11,1,c,c
322839,USA000007902381,country_trains,24,3,1,c,c
322840,USA000007902381,concession,25,5,1,c,c
322841,USA000007902381,individual,26,6,1,c,c
322842,USA000007902381,trip_4,27,9,1,c,c
322843,USA000007902381,Cancel,28,11,1,c,c
322847,USA000007902381,Cancel,32,11,1,a1,a1
322852,USA000007902381,Buy,37,10,1,b4,b4
322858,USA000007902365,Cancel,5,11,0,a1,a1
322859,USA000007902365,country_trains,6,3,0,c,c
322860,USA000007902365,full_fare,7,4,0,c,c
322861,USA000007902365,Cancel,8,11,0,c,c
322862,USA000007902365,country_trains,9,3,0,c,c
322863,USA000007902365,concession,10,5,0,c,c
322864,USA000007902365,daily,11,7,0,c,c
322865,USA000007902365,Cancel,12,11,0,c,c
322866,USA000007902365,city_subway,13,2,0,c,c
322867,USA000007902365,full_fare,14,4,0,c,c
322868,USA000007902365,Cancel,15,11,0,c,c
322869,USA000007902365,city_subway,16,2,0,c,c
322870,USA000007902365,concession,17,5,0,c,c
322871,USA000007902365,daily,18,7,0,c,c
322872,USA000007902365,Buy,19,10,0,c,c

In [185]:
df_action_final.to_csv('final_final2.csv', index=False)

In [191]:
for i in range(len(df_action_final)):
    if (df_action_final['ID'][i]==df_action_final['ID'][i+1]) and (df_action_final['final_sequence'][i]== 'c') and (df_action_final['final_sequence'][i+1]=='c'):
        df_action_final.drop(index = i, axis =0)

KeyError: 0

city_subway 2
concession 5
daily 7
cancel 11
individual 6
trip_n 8
trip_4 9
Buy 10


- 1 city→concession→daily→cancel                      2-5-7-11
- 2-1 city→concession→individual→trip_n→trip_4→cancel 2-5-6-8-9-11
- 2-2 city→concession→individual→trip_n→trip_4→Buy    2-5-6-8-9-10
- 2-3 city→concession→individual→trip_4→cancel        2-5-6-9-11
- 2-4 city→concession→individual→trip_4→Buy           2-5-6-9-10