In [ ]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt

In [ ]:
pip install scikit-learn-extra

Requirement already satisfied: scikit-learn-extra in /usr/local/lib/python3.7/dist-packages (0.2.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.21.5)
Requirement already satisfied: scikit-learn>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.0.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn-extra) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (3.1.0)

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler
from sklearn_extra.cluster import KMedoids
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (13, 8)
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/EM:IP/최종 데이터 파일/variables/1_GenerateVariables_3_merge.csv', index_col = False)
df

,Unnamed: 0,ID,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,credit,oecd,time_answer,time_not_answer,time_solving_2,events_num,avg_time_btw_events,sequence,length
0,1,ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0,0,0.0,28.1,28.1,3,9.366667,NaN,0
1,2,ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0,0,0.0,22.3,22.3,3,7.433333,NaN,0
2,3,ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0,0,0.0,19.6,19.6,8,2.450000,NaN,0
3,4,ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0,0,0.0,25.4,25.4,3,8.466667,NaN,0
4,5,ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0,0,0.0,21.4,21.4,4,5.350000,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30448,30449,USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,1,1,37.3,4.4,41.7,10,4.170000,ab,2
30449,30450,USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,1,1,48.8,1.4,50.2,8,6.275000,ab,2
30450,30451,USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,1,1,49.1,0.9,50.0,11,4.545455,ab,2
30451,30452,USA000007902381,USA,9.1,5.9,0.0,5.9,11.3,4.4,79.7,95.4,1,1,15.0,64.7,79.7,35,2.277143,ab,2
30452,30453,USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,0,1,7.9,27.7,35.6,17,2.094118,a,1

In [ ]:
df['cnt'] = df['cnt'].astype(str)
df['oecd'] = df['oecd'].astype(int)
df['credit'] = df['credit'].astype(int)
df['length'] = df['length'].astype(int)
df['time_start'] = df['time_start'].astype(float)
df['time_end'] = df['time_end'].astype(float)
df['time_solving'] = df['time_solving'].astype(float)
df['time_total'] = df['time_total'].astype(float)
df['time_answer'] = df['time_answer'].astype(float)
df['avg_time_btw_events'] = df['avg_time_btw_events'].astype(float)
df

,Unnamed: 0,ID,cnt,time_A_total,time_b1,time_b2,time_B_total,time_start,time_end,time_solving,time_total,credit,oecd,time_answer,time_not_answer,time_solving_2,events_num,avg_time_btw_events,sequence,length
0,1,ARE000018904852,ARE,0.0,0.0,0.0,0.0,8.9,3.8,28.1,40.8,0,0,0.0,28.1,28.1,3,9.366667,NaN,0
1,2,ARE000018904861,ARE,0.0,0.0,0.0,0.0,26.2,9.9,22.3,58.4,0,0,0.0,22.3,22.3,3,7.433333,NaN,0
2,3,ARE000018904843,ARE,0.0,0.0,0.0,0.0,29.8,9.9,19.6,59.3,0,0,0.0,19.6,19.6,8,2.450000,NaN,0
3,4,ARE000018904832,ARE,0.0,0.0,0.0,0.0,34.4,5.0,25.4,64.8,0,0,0.0,25.4,25.4,3,8.466667,NaN,0
4,5,ARE000040210135,ARE,0.0,0.0,0.0,0.0,143.3,16.9,21.4,181.6,0,0,0.0,21.4,21.4,4,5.350000,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30448,30449,USA000015004637,USA,25.8,11.5,0.0,11.5,19.8,2.5,41.7,64.0,1,1,37.3,4.4,41.7,10,4.170000,ab,2
30449,30450,USA000007902358,USA,35.9,12.9,0.0,12.9,24.7,6.4,50.2,81.3,1,1,48.8,1.4,50.2,8,6.275000,ab,2
30450,30451,USA000007902371,USA,33.3,15.8,0.0,15.8,11.9,12.5,50.0,74.4,1,1,49.1,0.9,50.0,11,4.545455,ab,2
30451,30452,USA000007902381,USA,9.1,5.9,0.0,5.9,11.3,4.4,79.7,95.4,1,1,15.0,64.7,79.7,35,2.277143,ab,2
30452,30453,USA000007902365,USA,7.9,0.0,0.0,0.0,25.3,1.7,35.6,62.6,0,1,7.9,27.7,35.6,17,2.094118,a,1

In [ ]:
df_1 = df[['ID', 'cnt', 'time_start', 'time_end', 'time_answer', 'time_not_answer','time_solving', 'time_total', 'events_num', 'avg_time_btw_events', 'length', 'credit', 'oecd']]
df_1.set_index('ID', inplace=True)
df_1

,cnt,time_start,time_end,time_answer,time_not_answer,time_solving,time_total,events_num,avg_time_btw_events,length,credit,oecd
ID,,,,,,,,,,,,
ARE000018904852,ARE,8.9,3.8,0.0,28.1,28.1,40.8,3,9.366667,0,0,0
ARE000018904861,ARE,26.2,9.9,0.0,22.3,22.3,58.4,3,7.433333,0,0,0
ARE000018904843,ARE,29.8,9.9,0.0,19.6,19.6,59.3,8,2.450000,0,0,0
ARE000018904832,ARE,34.4,5.0,0.0,25.4,25.4,64.8,3,8.466667,0,0,0
ARE000040210135,ARE,143.3,16.9,0.0,21.4,21.4,181.6,4,5.350000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
USA000015004637,USA,19.8,2.5,37.3,4.4,41.7,64.0,10,4.170000,2,1,1
USA000007902358,USA,24.7,6.4,48.8,1.4,50.2,81.3,8,6.275000,2,1,1
USA000007902371,USA,11.9,12.5,49.1,0.9,50.0,74.4,11,4.545455,2,1,1
USA000007902381,USA,11.3,4.4,15.0,64.7,79.7,95.4,35,2.277143,2,1,1
USA000007902365,USA,25.3,1.7,7.9,27.7,35.6,62.6,17,2.094118,1,0,1

In [ ]:
df_1.to_csv('2_ExploratoryAnalysis_0_start_with_all.csv', index=True)

In [ ]:
df_2 = df_1[df_1['credit'] == 1]

In [ ]:
df_2.to_csv('2_ExploratoryAnalysis_0_start_with_full_credit.csv', index=True)